.cartBtn {
  width: 8rem;
  height: 100%;
  position: relative;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartBtn:hover {
  background-color: #212529;
}

.icon {
  width: 6rem;
  height: 6rem;
}

.items {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: brown;
  padding: 1rem;
  border-radius: 25%;
}
