.product {
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #212529;
  border-radius: 12px;
  position: relative;
}

.photo {
  width: 40rem;
  height: 25rem;
}

.photo img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.name {
  font-size: 2.4rem;
  color: #fff;
  padding: 1rem;
  background: linear-gradient(45deg, #212529, #495057);
}

.price {
  font-size: 2.4rem;
  color: #fff;
  padding: 1rem;
  background: linear-gradient(45deg, #212529, #495057);
}

.desc {
  font-size: 1.4rem;
  padding: 1rem;
  background: linear-gradient(45deg, #212529, #495057);
}

.add {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.link {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: blue;
  border-radius: 12px;
}
